h1 {
	font-family: serif;
	margin: 0px;
}

#main_canvas {
	cursor: url("../img/cursor/001-pen.ico"), auto;
}

#canvas_span {
	width: 800px;
	height: 800px;
	position: relative;
	border: 10px rgba(216, 191, 216, 0.4) solid;
}

#textBox {
	position: absolute;
	top: 0px;
	left: 0px;
	border: none;
	z-index: 1;
	background-color: transparent;
}

#main_canvas {
	background-color: white;
	position: absolute;
	z-index: 5;
}

.flex {
	display: flex;
	align-items: center;
	
}

.linecap {
	display: inline-flex;
	flex-direction: column;
}

.btn {
	width: 50px;
	height: 50px;
	border: none;
	background-color: transparent;
	border-radius: 10%;
}

.mrg {
	margin: 10px;
}

#text_font, #text_size {
	font-size: 16px;
}

#pen {
	background-image: url('../img/001-pen.png');
	background-size: contain;
	background-color: rgba(237, 182, 17, 1);
}

#eraser {
	background-image: url('../img/008-eraser.png');
	background-size: contain;
}

#rectangle {
	background-image: url('../img/rect.png');
	background-size: contain;
}
#triangle {
	background-image: url('../img/triangle.png');
	background-size: contain;
}
#fill {
	background-image: url('../img/paint-bucket.png');
	background-size: contain;
}
#circle {
	background-image: url('../img/circle.png');
	background-size: contain;
}

#text {
	background-image: url('../img/031-letters.png');
	background-size: contain;
}

#download {
	background-image: url('../img/download.png');
	background-size: contain;
}

#undo {
	background-image: url('../img/undo.png');
	background-size: contain;
	opacity: 0.1;
}
#redo {
	background-image: url('../img/redo.png');
	background-size: contain;
	opacity: 0.1;
}
#reset {
	background-image: url('../img/reset.png');
	background-size: contain;
}

#size_display {
	margin-left: 5px;
	margin-right: 5px;
}

#size_selector {
	margin-right: 5px;
}

#text_size {
	margin-left: 5px;
}

#text_font {
	margin-right: 5px;
}

#color_selector_div {
	border: 3px black solid;
	border-radius: 10%;
}

#color_selector {
	border-radius: 100%;
	border: none;
	width: 25px;
	height: 25px;
	margin-left: 3px;
}

#color_val {
	margin-right: 3px;
}

#color_selector::-webkit-color-swatch-wrapper {
	padding: 0;
}
#color_selector::-webkit-color-swatch {
	border: none;
	border-radius: 100%;
}

#tools_span {
	display: inline-block;
	width: auto;
	background-color: rgba(237, 182, 17, 0.2);
}
